/************ General Settings *********/
:root {
  --yellow: #F0BF4B;
  --fontgrey: #484761;
  --footergrey:#808896;
  --linkedinBlue: #367BAF;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.618;
  font-family: 'Roboto', sans-serif;
  color: var(--fontgrey);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    width: 100%;
}

p{
	margin: 0;
}

/************ App *********/
.App {
  text-align: center;
  position:relative;
}

/************ Header *********/

.header-container{
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid var(--fontgrey);
	padding: 1rem 5rem;
}

.header-container .nav{
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.header-container .nav a{
	text-decoration: none;
	color: var(--fontgrey);
	text-transform: capitalize;
	font-size: 0.95rem;
}

.logo{
	justify-self: start;
	margin-left: 4rem;
}

.signuplink{
	border: 3px solid var(--yellow);
	padding:0.4rem 0.6rem;
}

/************ Footer *********/

footer{
	background-color: var(--footergrey);
	font-size: 0.6rem;
	padding: 0.4rem 15rem;
	color: #fff;
	text-align: justify;
/*	position: fixed;
	bottom: 0;
	left:0;*/
	width: 100%;
}

.footer-links{
	display: flex;
	justify-content: flex-end;
}
.footer-links i{
	font-size: 1.5rem;
	margin-left: 0.8rem;
}
.footer-copyright{
	text-align: right;
}
/************ Main *********/

/************ Sign Up *********/
.signup-container{
	display: grid;
	grid-template-columns:minmax(350px, 700px);
	justify-content: center;
	/*background: #fafafa;*/

}
.signup-container h2{
	font-size: 3rem;
	font-weight: 300;
	margin: 1rem;
}

.signup-subtext{
	font-size: 1.3rem;
	font-weight: 700;
}

.signup-text{
	font-size: 1rem
}

.signup-noaccount{
	display: flex;
	justify-content: center;
}
.signup-fields{
	display: grid;
	grid-template-columns:minmax(350px, 500px);
	justify-content: center;
	grid-gap:1rem;
	margin-top: 0.7rem;


}
.text-field input{
	padding: 1.3rem;
	width: 100%;
	border: 1px solid silver;
	font-size: 1rem;
	border-radius: 10px;
}

.form-group{
	position: relative;
}

.lbl{
	position: absolute;
	left: 15px;
	top: 15px;
	color: silver;
	transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .lbl {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  font-size: .75em;
}

.signup-container button{
	padding: 1rem;
	color: #fff;
	font-size: 1.5rem;
	border: none;
	border-radius: 2rem;
	width: 100%;
}

.linkedin{
	background-color: var(--linkedinBlue);
}

.linkedinbtn{
	position: relative;
	width: 80%;
	justify-self: center;
}

.fa-linkedin{
	font-size: 2.5rem;
	color: #fff;
	position: absolute;
	left: 25px;
	top: 10px;
}

.highlight-text{
	margin-left: 10px;
	color: var(--linkedinBlue);
	font-weight: 500;
}

.signup-fields .registerbtn{
	background-color: var(--yellow);
	width: 80%;
	justify-self: center;
}

.haveaccount{
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	margin-top: 1rem;
}
/************ Welcome *********/

/************ Questions1 *********/

/************ Questions2 *********/




