/************ General Settings *********/
:root {
  --yellow: #F0BF4B;
  --fontgrey: #484761;
  --footergrey:#808896;
  --linkedinBlue: #367BAF;
  --widgetsBlue: #4FA9C4;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.125rem;
  line-height: 1.618;
  font-family: 'Roboto', sans-serif;
  color: var(--fontgrey);
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

img {
    width: 100%;
}

p{
	margin: 0;
}

/************ App *********/
.App {
  /*text-align: center;*/
  position:relative;
}

/************ Header *********/

.header-container{
	display: grid;
	grid-auto-flow: column;
	grid-template-columns: 1fr 1fr;
	border-bottom: 1px solid var(--fontgrey);
	padding: 1rem 5rem;
}

.header-container .nav{
	display: flex;
	justify-content: space-around;
	list-style: none;
}

.header-container .nav a{
	text-decoration: none;
	color: var(--fontgrey);
	text-transform: capitalize;
	font-size: 0.95rem;
}

.logo{
	justify-self: start;
	margin-left: 4rem;
}

.signuplink{
	border: 3px solid var(--yellow);
	padding:0.4rem 0.6rem;
}

/************ Footer *********/

footer{
	background-color: var(--footergrey);
	font-size: 0.6rem;
	padding: 0.4rem 15rem;
	color: #fff;
	text-align: justify;
/*	position: fixed;
	bottom: 0;
	left:0;*/
	width: 100%;
}

.footer-links{
	display: flex;
	justify-content: flex-end;
}
.footer-links i{
	font-size: 1.5rem;
	margin-left: 0.8rem;
}
.footer-copyright{
	text-align: right;
}
/************ Main *********/

/************ Sign Up *********/
.signup-container{
	display: grid;
	grid-template-columns:minmax(350px, 700px);
	justify-content: center;
}

.signup-container h2{
	font-size: 3rem;
	font-weight: 300;
	margin: 1rem;
	justify-self: center;
}

.signup-subtext{
	font-size: 1.3rem;
	font-weight: 700;
	justify-self: center;
}

.signup-text{
	font-size: 1rem;
	justify-self: center;
}

.signup-noaccount{
	display: flex;
	justify-content: center;
}
.signup-fields{
	display: grid;
	grid-template-columns:minmax(350px, 500px);
	justify-content: center;
	grid-gap:1rem;
	margin-top: 0.7rem;


}
.text-field input{
	padding: 1.3rem;
	width: 100%;
	border: 1px solid silver;
	font-size: 1rem;
	border-radius: 10px;
}

.form-group{
	position: relative;
}

.lbl{
	position: absolute;
	left: 15px;
	top: 15px;
	color: silver;
	transition: transform 150ms ease-out, font-size 150ms ease-out;
}

.focused .lbl {
  -webkit-transform: translateY(-70%);
          transform: translateY(-70%);
  font-size: .75em;
}

.signup-container button{
	padding: 1rem;
	color: #fff;
	font-size: 1.5rem;
	border: none;
	border-radius: 2rem;
	width: 100%;
}

.linkedin{
	background-color: var(--linkedinBlue);
}

.linkedinbtn{
	position: relative;
	width: 80%;
	justify-self: center;
}

.fa-linkedin{
	font-size: 2.5rem;
	color: #fff;
	position: absolute;
	left: 25px;
	top: 10px;
}

.highlight-text{
	margin-left: 10px;
	color: var(--linkedinBlue);
	font-weight: 500;
}

.signup-fields .registerbtn{
	background-color: var(--yellow);
	width: 80%;
	justify-self: center;
}

.haveaccount{
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.validation-error{
	font-size: 0.9rem;
	color: red;
	margin: 0.5rem 0;
}
/************ Welcome *********/
.welcome-container{
	display: grid;
	grid-template-columns:minmax(350px, 800px);
	justify-content: center;
}
.welcome-container h2{
	font-size: 3rem;
	font-weight: 300;
	margin: 1rem;
	justify-self:center;
}

.investor-consent{
	display: grid;
	grid-gap: 1.5rem;
	grid-template-columns:minmax(250px, 600px);
	justify-self:center;
	margin-top: 1.5rem;
	font-size: 0.9rem;
}

.investorTypes{
	display: flex;
	justify-content: space-between;
	list-style: none;
	margin: 0;
	padding:0;
}

.investor-types-container p{
	text-align: left;
	margin: 2rem 0;
}

.investorTypes [type="radio"]{
	visibility:hidden;
}
.investorTypes li{
	border: 1px solid silver;
	border-radius: 7px;	
	padding: 1rem;
	flex-basis: 12rem;
	text-align: center;
	cursor: pointer;
}

.investorTypes label{
	text-align: center;
	/*border: 1px solid silver;*/
	/*border-radius: 7px;	
	padding: 2rem;*/
}

/*.investorTypes input:checked + label{
	background: #eee;
}*/
.investorTypes .active{
	background: #eee;
}

.accreditedCheck{
	list-style: none;
	margin: 0;
	padding:0;
}

.accreditedCheck [type="radio"]{
	margin: 1rem;
}

.investor-consent-check{
	padding: 1rem;
	background-color: #EEF7FC;
	width: 100%;
}
.investor-consent-check p{
	margin-left: 2.6rem;
}

.survey{
	padding: 1rem;
	color: #fff;
	font-size: 1.5rem;
	border: none;
	border-radius: 2rem;
	width: 80%;
	justify-self: center;
	margin: 1rem 0 2.3rem 0;
	background-color: var(--yellow);
}
/************ Questions1 *********/
.questions1-container{
	display: grid;
	grid-template-columns:minmax(350px, 1300px);
	justify-content: center;
	grid-gap: 2rem;
}

.questions1-container h2{
	font-size: 2.5rem;
	font-weight: 300;
	margin: 1rem;
	justify-self:center;
	margin-left: 0;
}

.questions1-container .question{
	font-size: 1.5rem;
}

.questions1-container [type="checkbox"]{
	visibility: hidden;
}

.technologies-interested ul, .sectors-interested ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.technologies-interested li, .sectors-interested li{
	padding: 1rem 0.3rem;
	border: 1px solid silver;
	border-radius: 7px;
	font-size: 1rem;
	text-align: center;
	margin: 1rem 0;
}

.technologies-interested label, .sectors-interested label{
	margin-right: 10px;
	cursor: pointer;
}
.technologies-interested .active{
	background: #eee;
}
.sectors-interested label{
	font-size: 0.8rem;
}
.sectors-interested .active{
	background: #eee;
}
.continue{
	padding: 1rem;
	color: #fff;
	font-size: 1.5rem;
	border: none;
	border-radius: 2rem;
	width: 30%;
	justify-self: center;
	margin: 1rem 0 2.3rem 0;
	background-color: var(--yellow);
}
/************ Questions2 *********/
.agreements-container{
	display: grid;
	grid-template-columns:minmax(350px, 1200px);
	justify-content: center;
	grid-gap: 2rem;
}
.agreements-container li{
	list-style: none;
}
.agreement-list{
	display: flex;
	justify-content: flex-start;
	margin: 4rem 1rem;
}
.agreements-container p{
	margin: 0 5rem;
	font-size: 1.2rem;
	flex-shrink: 3;
}

.finish{
	padding: 1rem;
	color: #fff;
	font-size: 1.5rem;
	border: none;
	border-radius: 2rem;
	width: 30%;
	justify-self: center;
	margin: 1rem 0 2.3rem 0;
	background-color: var(--yellow);
}
/************** Toggle Swtich**********/
.toggleswitch-container{
  position: relative;
  height:34px;
  width:65px;
  display:inline-block;
}
.toggleswitch-container input{
  display: none;
}
.switch{
  position: absolute;
  cursor: pointer;
  background-color: #ddd;
  top:0;
  bottom:0;
  left:0;
  right:0;
  transition: .4s;
  border-radius: 34px;
}
.switch:before{
  position: absolute;
  content: "";
  height:26px;
  width:26px;
  left: 4px;
  bottom:4px;
  background-color: #fff;
  transition: .4s;
  border-radius: 50%
}
input:checked + .switch:before{
  transform: translateX(30px);
}
input:checked + .switch{
  background-color: var(--widgetsBlue);
}
input:focus + .switch{
  box-shadow: 0 0 1px #2196F3;
}

/************** Progress Bar*************/
.progressbar{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
	font-size: 1rem;
}

.outerbar{
  height: 7px;
  width: 80%;
  background-color: #eee;
  margin-right:1rem;
}

.innerbar{
  width:0;
  background-color: var(--widgetsBlue);
  text-align: center;
  height: 100%;
  color:#fff;
}
/************** Range Slider *************/
.slidecontainer {
    width: 100%;
}

/*.slider {
    appearance: none;
    width: 100%; 
    height: 5px; 
    background: #d3d3d3; 
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: transparent; 
    cursor: pointer; 
}

.slider::-moz-range-thumb {
    width: 25px; 
    height: 25px; 
    /*background: transparent;  */
	  /*cursor: pointer; 
	  border: 1px solid silver;
	  border-radius: 50%;
}*/

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}